name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - run: npm install
      - run: DATABASE_URL=\'$MIGRATE_DATABASE_URL\' npm run migrate-deploy
        env:
          MIGRATE_DATABASE_URL: ${{secrets.MIGRATE_DATABASE_URL}}
      - run: npm run generate-client
      - run: npm run test
        env:
          DATABASE_URL: ${{secrets.DATABASE_URL}}
